html, body {
	height: 100vh;
}
body {
	background-image: url("pics/footer_lodyas.png");
	font-family: "Lato", sans-serif !important;
	color: white !important;
	margin: 0;
	padding: 0;
}

/* General */
hr {
	display: block;
	box-sizing: content-box;
	height: 0;
	width: 100px;
	margin: 40px auto;
	border: 0;
	border-top: 2px solid #FB6262 !important;
	text-align: center;
}

h2 {
	font-size: 4.8em;
	font-weight: bold;
	letter-spacing: 0.03em;
}

p {
	padding-top: 20px;
	font-size: 1.5em;
	letter-spacing: 0.03em;
}

/* animated blinking cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* Navigation Bar */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	font-family: "Lato", sans-serif !important;
	font-size: 1.3em;
	padding-top: 20px;
}

.navbar .navbar-nav a{
	color: #8c8c8c;
}

@media (min-width:1010px) {
    .navbar-full .navbar-nav > li {
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
}

.navbar-full .navbar-nav > li {
	padding-left: 25px;
	padding-right: 25px;
}

.navbar-full .navbar-nav > li > a:hover, .navbar-full .navbar-nav > li > a:focus, .navbar-full .navbar-header >a:hover {
	background: transparent;
    color: #FB6262;
}

.navbar .navbar-collapse {
	text-align: center;
}

.icon-bar {
	background-color:#FB6262 !important;
}

#hamburgernav{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Footer */
#footer .row {
	height: 20px;
	padding-top: 0px;
}

#footer p {
	font-size: 0.9em;
	padding-top: 0px;
}
/* Home Page */
@media screen and (min-width: 991px) {
	#headline > h2{
		font-size: 7.5em !important;
	}
}

#headline > h2{
	font-size: 5.5em;
	font-weight: bold;
	letter-spacing: 0.05em;
}

p {
	padding-top: 20px;
	font-size: 1.5em;
	letter-spacing: 0.05em;
}

#project-intro p {
	font-size: 1em;
	padding-top: 0px;
}

@media screen and (max-width: 991px) {
	#project-intro .row > div {
		text-align: center !important;
	}
}

.intro-pic {
	max-width: 100%;
	min-height: 250px;
	max-height: 250px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* About Page */
#pic img{
	height: 300px;
	width: auto;
}

#basics {
	margin-bottom: 20px;
}

#about p {
	font-size: 1em;
}

/* Projects Page */
.project-row {
	height: 100px !important;
	text-align: center;
	font-size: 3em;
}

/* Resume Page */
#resume img{
	height: 800px;
	width: auto;
}

/* Contact Page */
#contact img {
	height: 150px;
	width: 150px;
}

/* Modals */
.modal {
	color: black;
}
.details-links {
	padding-left: 20px;
	padding-right: 20px;
}
.details-links img {
	height: 50px;
	width: 50px;
}

.details-pic img {
	max-height: 300px;
}

.next :hover {
	cursor: pointer;
}